table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#time, #discipline {
    font-weight: normal;
}

th.time, td.time {
    width: 130px;
    height: 30px;
}

th.discipline, td.discipline {
    width: 130px;
    height: 30;
}

#caption1 {
    margin-left: auto;
    margin-right: auto;
    width: 11em
}

#caption2 {
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

#easterEgg1{
    color: black;
    text-decoration: none;
}